.vaart-in-assen-large {
    height: 90px;
    width: auto;
    padding: 0 20px 10px;

    &.vaart-in-assen-right {
        right: 0;
    }

    &.vaart-in-assen-bottom {
        bottom: 20px;

        &.vaart-in-assen-left {
            left: 0;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.vaart-in-assen-right {
            right: 0;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.vaart-in-assen-top {
        top: 20px;
    }

    &.vaart-in-assen-top {
        top: 0;

        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &.vaart-in-assen-left {
            left: 20px;
        }

        &.vaart-in-assen-right {
            right: 20px;
        }
    }
}