.dit-is-assen-small {
    height: 80px;
    width: 80px;
    padding: 0 10px 10px 10px;

    &.dit-is-assen-right {
        right: 0;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.dit-is-assen-bottom {
        bottom: 20px;
    }

    &.dit-is-assen-left {
        left: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.dit-is-assen-top {
        top: 0;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;

        &.dit-is-assen-left {
            left: 20px;
        }

        &.dit-is-assen-right {
            right: 20px;
        }
    }
}